{% extends '@webstalk/layout.html.twig' %}

{% block title %}Beanstalkd Servers{% endblock %}

{% block content %}
<div class=
<h1 class="webstalk-title">Servers</h1>

{% for server in servers %}
<div class="webstalk-server">
    <h3>{{ server.server.getDisplayName() }}</h3>

</div>
{% endfor %}
{% endblock %}
